* {
  all: unset;
  display: revert;
  cursor: revert;
  box-sizing: border-box;
  gap: 25px;
}

body {
  color: white;
  background-color: white;
  min-height: 100vh;
}
header {
  display: grid;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  font-weight: bold;
  background-color: rgba(202, 5, 5, 0.763);
  color: white;
  padding: 15px;
}
footer {
  color: black;
  position: sticky;
  top: 100vh;
  text-align: center;
}
ul {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  list-style: none;
  left: 10%;
}

img {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: 100%, 100%;
}

.baggrund_container {
  display: grid;
  place-items: start;
  margin: 2%;
  background-color: rgba(6, 86, 21, 0.777);
  padding: 40px;
  border: 5px solid rgba(202, 5, 5, 0.763);
}
img,
.tekst_sprite {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2rem;
  grid-area: 1 / 1;
  font-size: 200%;
}
h3 {
  grid-area: 1 / 2;
  font-family: "Times New Roman", Times, serif;
  font-size: 80%;
}
.tekst_sprite {
  margin: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  place-content: center;
  border: 7px solid rgba(6, 86, 21, 0.777);
}
.col {
  width: 100%;
  border: 1px solid rgba(202, 5, 5, 0.763);
}

video {
  width: 100%;
  aspect-ratio: 16 / 9;
}
iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
#home {
  position: absolute;
  max-width: 90px;
  gap: 10px;
  padding-bottom: 5px;
  top: 1%;
  left: 1%;
}
h1 {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgba(118, 16, 118, 0.655);
}
a {
  padding-left: 20%;
  padding-top: 8px;
}
